extends layout

block content
    .blog-masthead
        .container-fluid
            a.navbar-brand(href='/products') Main Page
    .jumbotron
        .container
            h2 Add a New Offer
            form(method='post', action='/products/add', enctype='multipart/form-data')
                    div(class='row')
                        label
                            fieldset
                                label(for='title') Title
                                input(name='title')
                            fieldset
                                label(for='upload') Picture
                                input(type='file' name='upload')
                    div(class='row')
                        label Venue
                        input(name='venue', required, placeholder='Club')
                    div(class='row')
                        label Day
                        select(name='selectpick', required, placeholder='day')
                            option(value='sunday') Sunday
                            option(value='monday') Monday
                            option(value='tuesday') Tuesday
                            option(value='wednesday') Wednesday
                            option(value='thursday') Thursday
                            option(value='friday') Friday
                            option(value='saturnday') Saturday
                            option(value='everyday') Everyday
                    div(class='row')
                        label Price
                        input(name='price', required, placeholder='$', type='number')
                    div(class='row')
                        label Description
                        input(name='description', required, placeholder='Description')
                    div(class='row')
                        label Rating
                        input(name='rating', required, placeholder='Rating', type='number', min="1" max="5")
                    div(class='row')
                        label Type
                        select(name='selectpick', required, placeholder='type')
                            option(value='beer') Beer
                            option(value='food') Food
                            option(value='cocktail') Cocktail
                    input(type='submit' class='button', value='Add Product')
    include footer