extends layout

block content
    div(class='container')
        div(class='collapse navbar-collapse')
            a(href='/products', title='List Products') Main Page
        h2 Add a New Club
        form(method='post', action='/products/add', enctype='multipart/form-data')
            div(class='col-lg-8 col-lg offset-2')
                div(class='row control-group')
                    label File Upload
                        fieldset
                            label(for='title') Title
                            input(name='title')
                        fieldset
                            label(for='upload') Upload
                            input(type='file' name='upload')
                div(class='row control-group')
                    label Venue
                    input(name='venue', required, placeholder='Club')
                div(class='row control-group')
                    label Day
                    select(name='selectpick', required, placeholder='day')
                        option(value='sunday') Sunday
                        option(value='monday') Monday
                        option(value='tuesday') Tuesday
                        option(value='wednesday') Wednesday
                        option(value='thursday') Thursday
                        option(value='friday') Friday
                        option(value='saturnday') Saturnday
                        option(value='everyday') Everyday
                div(class='row control-group')
                    label Price
                    input(name='price', required, placeholder='$', type='number')
                div(class='row control-group')
                    label Description
                    input(name='description', required, placeholder='Description')
                div(class='row control-group')
                    label Rating
                    input(name='rating', required, placeholder='Rating', type='number', min="1" max="5")
                div(class='row control-group')
                    label Type
                    input(name='type', required, placeholder='Type')
                input(type='submit', value='Add Product')