footer.footer
  .container
    .col-md-4
      p This web-app was proudly made by Marco Maffei. All rights reserved 🍁
    .col-md-4
      
    .col-md-4
      div(itemscope itemtype='http://schema.org/Person', role='article')     
          ul
            li(itemprop='name') Marco Maffei
            li(itemprop='jobTitle') Student-Web Designer
            li(itemprop='streetAddress') 7 Quinlan road
            li(itemprop='addressLocality') Barrie, ON
            li(itemprop='postalCode') L4M6T2
            li(itemprop='telephone') (705) 305-0345