.col-md-8
  footer
    p This webapp was made by Marco Maffei. All rights reserved :P
    div(itemscope='', itemtype='http://schema.org/Person', role='article')
    span(itemprop='name') Marco Maffei
      br
      span(itemprop='jobTitle') Student-Web Designer
      div(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
        span(itemprop='streetAddress') 7 Quinlan road
        span(itemprop='addressLocality') Barrie
        span(itemprop='addressRegion') ON
        span(itemprop='postalCode') L4M6T2
        span(itemprop='telephone') (705) 305-0345
  