doctype html
html
  head
    title= App
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    style.
      #map-canvas {
      height: 400px;
      margin: 0px;
      padding: 0px
      }
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
    script(type='text/javascript', src='/javascripts/maps.js')
  body
    block content