.container {
	width: 100%;
	background:red;
	animation:myfirst 20s;
	-moz-animation:myfirst 20s infinite; /* Firefox */
	-webkit-animation:myfirst 20s infinite; /* Safari and Chrome */
	color:white;
}
.nav>li>a {
	color: white;
}

@-webkit-keyframes myfirst /* Chrome */
{
	0%{background-color:#19a0d8}
	16%{background-color:black}
	34%{background-color:#e85113}
	50%{background-color:#efe9e4}
	
	100%{background-color:#f0e4d3}
}
@-moz-keyframes colors{
	0%{background-color:#19a0d8}
	16%{background-color:#black}
	34%{background-color:#e85113}
	50%{background-color:#efe9e4}
	100%{background-color:#f0e4d3}
}
